body
{
background-color:rgb(35,45,59);
}


#a ,#b,img,#d
{
opacity:1;
transition:transform 2s;
border-radius:25px;
box-shadow:15px 15px 15px rgb(120, 153, 153);
border:none;
width:85%;
height:42%;
}


#a
{
margin-top:20px;
margin-left:80px;
width:30%;
}


#b
{
height:50%;
width:50%;
margin-top:25px;
margin-left:280px;
}


#if3
{
float:right;
margin-top:0px;
margin-left:200px;
}

#xcontent
{
width:60px;
height:100%;
margin-top:150px;
margin-left:100px;
}

#f3
{
margin-top:-45%;
margin-left:60%;
}



